
d_lex.cpp
d_parse.cpp
d_parse.hpp

location.hh

src/lexer.cpp
src/parser.cpp
src/parser.hpp

*out
*.o

objs/*
deps/libcvc5.a
deps/libcvc5.so
deps/libcvc5parser.a
deps/libcvc5parser.so


deps/*


extra/*
extra


todo.txt

test_input.txt

tb

build
build/*


temp
temp/*

notes
notes/*

src/parser.output
parser.output


.vscode/settings.json
